.task {
  display: flex;
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--gray-500);
  gap: .75rem;
  align-items: flex-start;

  &.isDone {
    .content {
      color: var(--gray-300);
      text-decoration: line-through;
    }
  }
}

.content {
  margin-bottom: 0;
  flex: 1;
  line-height: 1.25rem;
}

.deleteButton {
  margin-top: -0.3125rem;
  padding: .3125rem;
  border-radius: 4px;
  color: var(--gray-300);
  line-height: 0;
  transition: all ease-in-out .1s;

  &:hover {
    color: var(--danger-300);
    background-color: var(--gray-400);
    cursor: pointer;
  }
}